form {
	margin: auto;
	text-align: left;
}

h1 {
	margin: auto;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;
	max-width: 30em;
	margin: auto;
	text-align: left;
	color: #3c3c3c;
}

body {
	display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    display: flex;
    flex-direction: column;
	background-color: #fcfcfc;
}

#heading {
    width: 100%;
	max-width: 1000px;
	margin: auto;
	height: 150px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
	padding: 1px;
	border-width: 5px; 
	border-style: inset;
	border-color: #99675d;
}

#banner {
	width: 70%;
}

#slideshow {
	width: 80%;
	padding-bottom: 55%;
	position: relative;
	margin: auto;
}

.mySlides {
	position: absolute;
    top: 0;  bottom: 0;  left: 0;  right: 0;
	border-color: #99675d;
	border-style: outset;
	height: 100%;
	width: 100%;

}

#buttons {
	display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
}

#body{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 1px;
}

#intro {
	width: 100%;
	height: auto;
	max-width: 1000px;
	margin: auto;
	display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
	padding-top: 10px;

}

#calculator {
	margin: auto;
	width: 75%;
	border-style: outset;
}

.introImg {
	width: 35%;
	padding-right: 0px;
	margin: auto;
}

.introPara {
	width: 55%;
	padding-left: 0px;
	margin: auto;
}	


.bannerImg {
    height: 100%;
	max-height: 200px;
	width: 100%;
	max-width: 650px;
}

.bodyImg {
	display: block;
	width: 100%;
	height: auto;
	max-height: 350px;
	max-width: 350px;
	margin: auto;
}


.headingButton {
    background-color: #6f846c;
    text-align: center;
	color: #fcfcfc;
	text-decoration: none;
	width: 23%;
	padding-top: 15px;
	border: outset;
	margin-right: auto;
	margin-left: auto;
}

.headingDropdown {
	display: none;
	background-color: #6f846c; /* Green */
    text-align: center;
	color: #fcfcfc;

}

@media (max-width:700px) {
	#heading {
		flex-wrap: wrap;
		height: 250px;
		max-width: 650px;
	}
	
	#buttons {
		width: 100%;
	}
	
	#banner {
		width: 100%;
		height: 75%;
	}
	
	#intro {
		flex-wrap: wrap;
	}
	
	.introImg {
		width: 100%;
		margin: auto;
		padding-right: 0px;
	}

	.introPara {
		width: 100%;
		padding-left: 0px;
	}
	
	.headingButton {
		width: 10.5%;
		padding: 0px;
	}
}

@media (max-width:450px) {
	#heading {
		height: 80px;
		flex-wrap: nowrap;
	}
	
	#banner {
		height: 100%;
		width: 80%;
	}
	
	#buttons {
		width: 20%;
	}
	
	.headingButton {
		display: none;
	}
	
	.headingDropdown {
		display: inline-block;
		width: 80%;
		height: 80%;
		margin: auto;
	}
	
	p{
		font-family: 'Open Sans', sans-serif;
		font-size: 0.8em;
		line-height: 1.2em;
		max-width: 30em;
		margin: auto;
	}
}

/* Dropdown Button */
.menuIcon {
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 100%;
	width: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}